
<a style="display:inline-flex;" href="@Url.Action("Cart","Cart")"> <img src="~/Content/images/IMG/cart-imgs.png" style=" width:60px; position: absolute; margin-top: -18px; margin-left: -35px; }" /><p style="background-color: #ffdc00; border-radius: 100%; color: #150d0d; width: 18px; height: 18px; text-align: center; position: relative; right: 0px; top: -11px;font-weight:bold; border: 2px solid #ffffff; ">@ViewBag.SumCount</p></a>
