
.info {
    width: 100%;
    background-color: rgba(244, 244, 244,1);
    display: inline-flex;
    justify-content: space-between;
    padding-bottom: 0px;
}

    .info p {
        margin:10px 20px;
    }

.address {
    background-color: rgba(244, 244, 244,1);
 
}

    .address p {
        background-color: rgba(244, 244, 244,1);
        margin: 8px 0px;
        float: left;
    }

.date {
    background-color: rgba(244, 244, 244,1);
    width: 100%;

}

    .date p {
        text-align:left;
        margin:25px 10px;
    }


.order {
    background-color: rgba(244, 244, 244,1);
    width: 100%;
    margin-top: 5px;
}

    .order p {
        margin: 10px 10px;
        margin-top: 5px;
        text-align:left;
    }

.save input {
    border: none;
    background-color: rgba(255, 66, 78, 1);
    width: 100%;
    height: 38px;
    border-radius: 3px;
    color: aliceblue;
    font-weight: bold;
}
